/* 
general 
-------
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

.blue {
  color: #1890ff;
}

.bgBlue {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .logo {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}

.header .logo a {
  color: #1890ff;
  text-align: justify;
  margin: 0 5px 0 0;
  font-size: 13px;
}

/* .header .logo a {
  color: #333;
} */

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

/* 
main
---- 
*/
.mainBlock {
  background: url('assets/images/bg-skyguard-blue.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.mainBlock .container-fluid {
  display: block !important;
}

.mainBlock .ant-carousel,
.mainBlock .ant-carousel div {
  height: 100%;
}

.mainBlock .slick-dots li button {
  background: #000 !important;
}

.mainBlock .slick-dots li.slick-active button {
  background: #1890ff !important;
}

.mainBlock .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.mainBlock h3 {
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  margin: 0 0 30px;
}

.mainBlock h5 {
  font-size: 22px;
  color: yellow;
  line-height: 1;
  margin: 0 0 30px;
}

.mainBlock p {
  font-size: 18px;
  color: #fff;
  margin: 0 0 30px;
}

.mainBlock .btnHolder {
  height: auto !important;
}

.mainBlock .btnHolder button,
.mainBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

/*
Gallery/Feature
*/

 .galleryBlock {
  background: url('assets/images/bg-skyguard-blue-nologo.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: auto;
}

.galleryBlock .container-fluid .titleHolder h2 {
  color:#f3f3f3;
  font-size: 30px;
}

.galleryBlock .container-fluid .titleHolder p {
  color: yellow;
  font-size: 22px;
}

.gallery-titlle {
  color: white;
}

.gallery-subtitle {
  color: yellow
}

.gallery-ant-drawer-title {
  text-align: center;
  font-size: 32px;
}

.gallery-ant-drawer-title .ant-drawer-title {
  font-size: 22px;
}

.gallery-ant-drawer-title .ant-drawer-wrapper-body {
  background: url('assets/images/bg-skyguard-blue-nologo.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: auto;
}

.gallery-main-title {
  font-size: 20px;
  color: yellow;
}

.gallery-avatar {
  padding: 20px;
  width: 25%;
  height: 25%;
  display: contents !important;
}

.site-description-item-profile-p-label {
  display: none;
}

.gallery-ant-drawer-title .gallery-description-content {
  color: white;
  font-size: 16px;
  padding-bottom: 20px;;
}

.ant-list-item-meta-avatar {
  display: inline-flex;
  width: 250px;
}

.ant-drawer-content, .ant-drawer-content-wrapper {
  padding: 10px 15px;
  width: auto;
}

/*
Map Block
*/
.mapBlock {
  background: url('assets/images/bg-skyguard-blue-nologo.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: auto;
}

.mapBlock .container-fluid .titleHolder h2 {
  color: yellow;
  font-size: 30px;
}

/* 
block
----- 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}

/* 
about
----- 
*/
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

.aboutBlock .content h3 span{
  color: #1890ff;
  font-size: 25px;
}

/* 
Careers
------------
*/
.careerBlock {
  background: url('assets/images/ek-skyguard.png') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.careerBlock:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.careerBlock h2 {
  color: #fff;
  font-size: 30px;
}

.careerBlock p {
  color: yellow;
  font-size: 22px;
}

.careerBlock .contentHolder {
  text-align: center;
}

.careerBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
faqs
----
*/

.faqBlock {
  background: url('assets/images/bg-skyguard-blue-nologo.png') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: auto;
}

.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

.faqBlock h3 {
  font-size: 22px;
  color: yellow;
  line-height: 1.2;
  margin: 0 0 30px;
}

.faqBlock h2 {
  font-size: 30px;
  color: #f3f3f3;
  line-height: 1;
  margin: 0 0 30px;
}

.faqBlock .quickSupport p {
  font-size: 18px;
  color: #f3f3f3;
  margin: 0 0 30px;
}

.faq-modal .ant-modal-content .ant-modal-footer {
  display: none;
}
/* 
service block
-------------
*/

.serviceBlock {
  height: auto;
}

.serviceBlock .container-fluid {
  display: block !important;
}

.serviceBlock .ant-carousel,
.serviceBlock .ant-carousel div {
  height: 100%;
}

.serviceBlock .slick-dots li button {
  background: #000 !important;
}

.serviceBlock .slick-dots li.slick-active button {
  background: #1890ff !important;
}

.serviceBlock .content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.serviceBlock h3 {
  font-size: 22px;
  text-align: center;
  line-height: 1.2;
  margin: 0 0 30px;
}

.serviceBlock h5 {
  font-size: 18px;
  text-align: center;
  line-height: 1;
  margin: 0 0 30px;
}

.serviceBlock p {
  font-size: 16px;
  text-align: center;
  margin: 0 0 30px;
}

.serviceBlock .btnHolder {
  height: auto !important;
  text-align: center;
}

.serviceBlock .btnHolder button,
.serviceBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

.serviceBlock .service-img {
  padding-bottom: 20px;
}

/* 
contact
-------
*/
.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}

ant-form-item-control-input-content > #upload {
  display: none;
}

.upload-notes {
  color: #1890ff;
}

/* 
footer
------
*/
.ant-layout-footer {
  background: #111 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: #1890ff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .serviceBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }

  .mainBlock {
    background: url('assets/images/bg-skyguard-blue-mobile.png') no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
  }
}

@media only screen and (max-width: 767px) {
  .serviceBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }

  .mainBlock {
    background: url('assets/images/bg-skyguard-blue-mobile.png') no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
  }

  .ant-list-item, .ant-list-item-meta, .ant-list-item-meta-content{
    flex-direction: column;
  }

  .ant-list-item-meta-content {
    width: 100% !important;
    text-align: center;
    padding: 10px;
  }

  .ant-drawer-body {
    padding-bottom: 80px;
  }

  .gallery-drawer-image {
    width: 300px;
    padding-bottom: 159px;
  }

  .ant-drawer-content, .ant-drawer-content-wrapper {
    padding: 10px 7px;
    width: auto;
  }

}

@media only screen and (max-width: 370px) {
  .serviceBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
  
  .skyguard-head-logo > img {
    width: 50px;
  }

  .header .logo a {
    font-size: 10px;
  }

  [title~="reCAPTCHA"] {
    width: auto;
  }

  header.ant-layout-header {
    width: auto;
  }

}